@page
@model WebApplication3.Pages.EmailSentConfirmedModel
@{
}


<div class="text-center">
    <h1 class="display-4">Sent</h1>
    <p>The email has successfully been sent to you.</p>
    <p>Please close this tab and access the link.</p>
</div>