@page
@model WebApplication3.Pages.LoginModel
@{
	Layout = "_Layout";
}
@section Scripts
	{
	<script src="https://www.google.com/recaptcha/api.js?render=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></script>
		<script>
			grecaptcha.ready(function () {
			grecaptcha.execute('6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI', { action: 'login' }).then(function (token) {
					document.getElementById("foo").value = token;
				});
			});
		</script>
}


<h1>Login</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            
            <div class="mb-3">
					<label class="form-label" asp-for="LModel.Username">Email</label>
					<input type="Text" asp-for="LModel.Username" class="form-control" />
					<span asp-validaton-for="LModel.Email" class="text-danger"></span>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="LModel.Password">Password</label>
					<input type="Text" asp-for="LModel.Password" class="form-control" />
					<span asp-validaton-for="LModel.Password" class="text-danger"></span>
				</div>
				<input type="hidden" id="foo" name="foo" />

				<div class="mb-3 text-center">
					<button type="submit" class="btn btn-success">Login</button>
				<a asp-page="/ForgetPassword" class="btn btn-default">Forgot Password</a>
				</div>
        </form>
    </div>
</div>

